.border-row{
    border: black solid 0.5px;
}

.leaveButton {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 10px;
}

ion-list {
    background-color: var(--ion-color-light);
}

.button-icon {
    display: flex; 
    flex-flow: column; 
    align-items: center;
    color: var(--ion-color-primary);

    ion-label {
        font-size: 10px;
    }

    ion-icon {
        font-size: 25px;
    }
}