<ion-header>
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" slot="start" defaultHref="tabs/event-list" mode="ios" [style.padding-left]="'10px'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ event?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appFadeHeader]="toolbar" appParallaxHeader>
  <div class="parallax-image" [style.background-image]="'url('+event?.img+')'"></div>

  <div class="main">
    <ion-card id="contenuto">
      <ion-card-header>
        <ion-card-subtitle>{{ event?.category }}</ion-card-subtitle>
        <ion-card-title mode="ios">{{ event?.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">DESCRIPTION: </ion-text>{{ event?.description }}

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list class="infoList">
                <ion-item lines="none" class="dateHour">
                  <ion-icon name="calendar-outline" slot="start" size="small"></ion-icon>
                  <ion-label>{{ printDate(event.date) }}</ion-label>
                </ion-item>
                <ion-item lines="none" class="dateHour">
                  <ion-icon name="time-outline" slot="start" size="small"></ion-icon>
                  <ion-label>{{ printHour(event.hour) }}</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon name="pin" slot="start" size="small"></ion-icon>
                  <ion-label  class="ion-text-wrap">{{ printPlace(event.place.address) }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-row class="ion-justify-content-center">
          <ion-list-header>
            Participants: ( {{ getParticipants(event?.participants) }} )
          </ion-list-header>
          <ion-list class="infoList">
            <ion-item *ngFor="let p of event.participants">
              <ion-avatar slot="start">
                
                <img *ngIf="p === 'RickyB'" src='../../../assets/users/uomo1.jpg'>
                <img *ngIf="p === 'admin'" src='../../../assets/users/uomo2.jpg'>
                <img *ngIf="p === 'Lelli12'" src='../../../assets/users/donna1.jpg'>
                <img *ngIf="p === 'MartyE'" src='../../../assets/users/donna2.jpg'>
                <img *ngIf="p === 'SilviaB'" src='../../../assets/users/donna3.jpg'>
                                
              </ion-avatar>
              <ion-label [style.font-size]="'16px'">
                {{ p }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-top" >
          <img src="{{ loadMap(event.place.lat, event.place.long) }}">
        </ion-row>  
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>