<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwords">
    <div class="wrapperForm ion-padding">
      <ion-item class="ion-align-items-center">
        <ion-label position="stacked">Last password:</ion-label>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" formControlName="oldPassword"></ion-input>
      </ion-item>

      <div *ngIf="(oldPassword.dirty || oldPassword.touched) && oldPassword.errors" class="errors">
        <ion-icon name="alert" style="padding-right: 3px;"></ion-icon>
        <span *ngIf="oldPassword.errors?.required">The last password is required</span>
        <span *ngIf="oldPassword.errors?.minlength">The password has to have at least 6 characters</span>
      </div>

        <ion-item class="ion-align-items-center">
          <ion-label position="stacked">New password:</ion-label>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>

        <div *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.errors" class="errors">
          <ion-icon name="alert" style="padding-right: 3px;"></ion-icon>
          <span *ngIf="newPassword.errors?.required">The new password is required</span>
          <span *ngIf="newPassword.errors?.minlength">The password has to have at least 6 characters</span>
        </div>

        <ion-item class="ion-align-items-center">
          <ion-label position="stacked">Confirm new password:</ion-label>
          <ion-icon name="bag-check-outline" slot="start"></ion-icon>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>

        <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors" class="errors">
          <ion-icon name="alert" style="padding-right: 3px;"></ion-icon>
          <span *ngIf="confirmPassword.errors?.minlength">The password has to have at least 6 characters</span>
          <span *ngIf="confirmPassword.errors?.required">The confirmation is required</span>
          <span *ngIf="confirmPassword.errors?.mustMatch">The confirmation must match</span>
        </div>
    </div>

    <div class="ion-margin-top ion-justify-content-center ion-align-items-center" [style.background-color]="'white'">
      <ion-button color="success" expand="block" fill="clear" (click)="save()" [disabled]="!passwords.valid">
        SAVE
      </ion-button>
    </div>

    <div class="ion-margin-top ion-justify-content-center ion-align-items-center" [style.background-color]="'white'">
      <ion-button type="reset" expand="block" fill="clear" color="danger">
        RESET
      </ion-button>
    </div>
  </form>
</ion-content>
