.container {
    width: 100%;
    height: 100%;
}

.swipe-up-icon {
    height: 70px;
    width: 70px;
    background-color: var(--ion-color-warning);
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
}
.swipe-left-icon {
    height: 70px;
    width: 70px;
    background-color: var(--ion-color-danger);
    border-radius: 50%;
    text-align: center;
}
.swipe-right-icon {
    height: 70px;
    width: 70px;
    background-color: var(--ion-color-success);
    border-radius: 50%;
    text-align: center;
}

.positionCenter {
    margin-top: 20px;
}